@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');


header{
  margin: 0;
  width: 100% !important;
  border-bottom: 1px solid #bfbfbf !important;
  box-shadow: rgba(149, 157, 165, 0.4) 0px 0px 24px;
  padding-bottom: 20px !important;
  margin-bottom: 10px !important;
}

.nombre{
    color: #212529 !important;
    font-size: 32px;
    margin: 0 !important;
    text-align: end;
    text-decoration: none !important;
    font-family: 'Sen', sans-serif;
}
.link{
  text-decoration: none !important;
}
.botonC{
  border: none;
  font-size: 15px;
  font-weight: 600;
  border-radius: 30px;
  text-decoration: none !important;
  background: linear-gradient( 105.3deg,  rgba(30,39,107,1) 21.8%, rgba(77,118,221,1) 100.2% );
  background: #4658F8;
  color: #fff;
  z-index: 10000;
  padding-top: 8px;
  padding-bottom: 8px;
  transform: scale(1.0);
  transition: .7s;
}

.botonC:hover{
  background: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);
  background: #2533ad;
  color: #fff;
  transform: scale(1.1);
  transition: .7s;
} 

@media (min-width: 768px) {

    .navbar{
      background-color: #fff;
      border-bottom: 1px solid #bfbfbf;
      height: 100%;
      margin-bottom: 80px;
      justify-content: space-between !important;
    }

    .links{
        margin-bottom: 0px;
    }

    .navLinks{
        color: #959595;
        font-size: 16px;
        font-weight: 500;
        text-decoration: none;
        padding-top: 10px;
        padding-bottom: 10px;
        /* padding-left: 40px;
        padding-right: 40px; */
        position: relative;
        text-decoration: none;
    }

    .navLinks:hover{
        color: #333333;
    }

}  